body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

main {
    flex: 1 0 auto !important;
}

.parallax-container {
    height: 650px;
}

#title {
    margin-top: -64px;
}

#flowers {
    height: 1000px;
}

.overlay {
    width: 100%;
}

.h100 {
    height: 100%;
}

.imglink {
    transition: 0.3s ease;
    width: 256 !important;
    height: 256 !important;
    cursor: pointer !important;
}

.imglink:hover {
    transform: scale(1.1, 1.1);
}

.links {
    display: inline-block;
    background-color: #d0ebcf;
    top: 100%;
    width: 100%;
    position: relative;
    padding: 3% 0%;
    scroll-behavior: smooth;
}

.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

a {
    cursor: pointer;
}



a:visited:not(.link),
a:link:not(.link),
a:active:not(.link) {
    text-decoration: none !important;
    color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}