body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

main {
    flex: 1 0 auto !important;
}

.parallax-container {
    height: 650px;
}

#flowers {
    height: 1000px;
}

.overlay {
    width: 100%;
  }

.h100 {
    height: 100%;
}

a:visited,
a:link,
a:active {
    text-decoration: none !important;
    color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}